@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, h1, h2, h3, h4, h5, h6, p, span {
  color: white;
  text-decoration: none;
}

.logo {
  width: 100px;
}

header {
  background-color: #d45b78;
  background: rgb(75, 56, 98);
  background: linear-gradient(90deg, rgb(75, 56, 98) 0%, rgb(212, 91, 120) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logInBtn {
  margin-right: 30px;
}

.hero {
  background-color: #d45b78;
  background: rgb(75, 56, 98);
  background: linear-gradient(90deg, rgb(75, 56, 98) 0%, rgb(212, 91, 120) 100%);
  text-align: center;
  padding-bottom: 5%;
}

.bigbro {
  height: 30rem;
}

.heroText {
  font-size: larger;
}

.heroBTN {
  text-transform: uppercase;
}

@media (max-width: 1030px) {
  .bigbro {
    height: 20rem;
  }
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

@media (min-width: 700px) {
  .burger-checkbox,
  .burger {
    display: none;
  }
  header {
    position: fixed;
    width: 100%;
  }
  .hero {
    padding-top: 100px;
  }
}
@media (max-width: 700px) {
  .logIn {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #d45b78;
    list-style-type: none;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 100%;
    height: 100%;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    height: 50px;
  }
  .menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .burger-checkbox:checked ~ .logIn {
    transform: translateX(0);
  }
  .burger,
  .burger-checkbox {
    z-index: 999;
  }
  .bigbro {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .bigbro {
    width: 250px;
    height: 100px;
  }
}
.video {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  background-color: #414141;
}

.try {
  text-transform: capitalize;
  font-size: 30px;
}

.free {
  background: rgb(79, 57, 99);
  background: linear-gradient(90deg, rgb(79, 57, 99) 0%, rgb(118, 68, 105) 33%, rgb(94, 62, 102) 70%, rgb(44, 33, 66) 100%);
  padding-bottom: 100px;
  padding-top: 100px;
  z-index: -100;
}
@media (max-width: 700px) {
  .free {
    padding-bottom: 0px;
  }
}

.card {
  display: block;
  width: 350px;
  height: 404px;
  background: rgb(212, 91, 120);
  background: linear-gradient(176deg, rgb(212, 91, 120) 0%, rgb(75, 56, 98) 100%);
  z-index: 0;
  margin-bottom: 50px;
  padding: 20px;
  background-position: 100%;
  background-size: inherit;
}
.card h3 {
  font-size: 50px;
}
.card p {
  font-size: 26px;
}

.card2 {
  height: auto;
}

.card-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

header {
  position: static;
}

@media (min-width: 700px) {
  .none {
    display: none;
  }
}
.none {
  width: 100%;
  padding: 0;
}

.work-container {
  background: rgb(79, 57, 99);
  background: linear-gradient(90deg, rgb(79, 57, 99) 0%, rgb(118, 68, 105) 33%, rgb(94, 62, 102) 70%, rgb(44, 33, 66) 100%);
  box-shadow: 50px 42px 25px 19px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  padding-top: 350px;
  padding-bottom: 350px;
}
@media (min-width: 1200px) {
  .work-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 700px) {
  .work-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 700px) {
  .work-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .work-container .number-work {
    font-size: 46px;
  }
  .work-container .card-work {
    min-height: 100px;
    margin: 0;
  }
  .work-container .card-work:nth-child(2),
  .work-container .card-work:nth-child(4) {
    align-self: center;
    margin-top: 0px;
  }
  .work-container .card-work:nth-child(1),
  .work-container .card-work:nth-child(3) {
    align-self: center;
    margin-bottom: 0px;
  }
}

.number-work {
  color: #944b6e;
  font-size: 86px;
  font-weight: bold;
  font-family: roboto;
}

.card-work {
  background: #523a64;
  border-radius: 15px;
  padding: 15px;
  display: flex;
}

.card-work:nth-child(2),
.card-work:nth-child(4) {
  align-self: center;
  margin-top: 100px;
}

.card-work:nth-child(1),
.card-work:nth-child(3) {
  align-self: center;
  margin-bottom: 100px;
}