* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, h1, h2, h3, h4, h5, h6, p, span {
  color: white;
  text-decoration: none;
}

.logo {
  width: 100px;
}

header {
  background-color: #d45b78;
  background: rgb(75, 56, 98);
  background: linear-gradient(90deg, rgb(75, 56, 98) 0%, rgb(212, 91, 120) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logInBtn {
  margin-right: 30px;
}

.hero {
  background-color: #d45b78;
  background: rgb(75, 56, 98);
  background: linear-gradient(90deg, rgb(75, 56, 98) 0%, rgb(212, 91, 120) 100%);
  text-align: center;
  padding-bottom: 5%;
}

.bigbro {
  height: 30rem;
}

.heroText {
  font-size: larger;
}

.heroBTN {
  text-transform: uppercase;
}

@media (max-width: 1030px) {
  .bigbro {
    height: 20rem;
  }
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

@media (min-width: 700px) {
  .burger-checkbox,
  .burger {
    display: none;
  }
  header {
    position: fixed;
    width: 100%;
  }
  .hero {
    padding-top: 100px;
  }
}
@media (max-width: 700px) {
  .logIn {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #d45b78;
    list-style-type: none;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 100%;
    height: 100%;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    height: 50px;
  }
  .menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .burger-checkbox:checked ~ .logIn {
    transform: translateX(0);
  }
  .burger,
  .burger-checkbox {
    z-index: 999;
  }
  .bigbro {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .bigbro {
    width: 250px;
    height: 100px;
  }
}
.video {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  background-color: #414141;
}

.try {
  text-transform: capitalize;
  font-size: 30px;
}

.free {
  background: rgb(79, 57, 99);
  background: linear-gradient(90deg, rgb(79, 57, 99) 0%, rgb(118, 68, 105) 33%, rgb(94, 62, 102) 70%, rgb(44, 33, 66) 100%);
  padding-bottom: 100px;
  padding-top: 100px;
  z-index: -100;
}

.card {
  display: block;
  width: 350px;
  height: 404px;
  background: rgb(212, 91, 120);
  background: linear-gradient(176deg, rgb(212, 91, 120) 0%, rgb(75, 56, 98) 100%);
  z-index: 0;
  padding: 20px;
  background-position: 100%;
  background-size: inherit;
}
.card h3 {
  font-size: 50px;
}
.card p {
  font-size: 26px;
}

.card2 {
  height: auto;
}

.card-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

header {
  position: static;
}